.button {
    background-color: rgb(32, 2, 28); /* Green */
    border-radius: 12px;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.formborder{
    border-radius: 12px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
    border-width: 5px;
    background-color: #e5e2e2;
}
.textbox{
    width: 30%;
    padding: 6px 50px;
    margin: 8px 0px;
    box-sizing: content-box;
    border: none;
    border-radius: 12px;
}
.background{
    enable-background: 100%;
    background-color: burlywood;
    border-radius: 12px;
}